Label {
    -fx-font-family: "Arial";
}

.over-pane {
    -fx-background-color: #f1f0f0;
}

#header-hbox {
    -fx-border-width: 0 0 1px 0; /* Top, Right, Bottom, Left */
    -fx-border-color: darkgrey; /* Đặt màu cho cạnh dưới */
    -fx-border-style: solid; /* Kiểu viền là solid */
}

.header-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.option--button {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.option--button:hover {
    -fx-background-color: #999999;
}

.option-button__label {
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

.option-vbox {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.option-button_hbox-label {
    -fx-border-width: 0 0 1px 0; /* Top, Right, Bottom, Left */
    -fx-border-color: darkgrey; /* Đặt màu cho cạnh dưới */
    -fx-border-style: solid; /* Kiểu viền là solid */
}