Label {
    -fx-font-family: "Arial"
}

#header__borderpane {
    -fx-border-width: 0 0 1px 0; /* Top, Right, Bottom, Left */
    -fx-border-color: darkgrey; /* Đặt màu cho cạnh dưới */
    -fx-border-style: solid; /* Kiểu viền là solid */
    -fx-background-color: #f1f0f0;
}

#header__label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#header__back-label {
    -fx-font-size: 16px;
    -fx-text-fill: #fe5d02;
}

#header__back-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#header__back-button:hover {
    -fx-background-color: #DDDDDD;
}

.navi-year__button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.navi-year__label {
    -fx-background-color: #f1f0f0;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-background-radius: 5px;
}

.navi-year__hbox {
    -fx-background-color: white;
}

.navi-year__button:hover {
    -fx-background-color: #f1f0f0;
}

.select-year__overlay-pane {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.select-year__main-pane {
    -fx-background-color: white;
}

.select-year__header {
    -fx-background-color: #f1f0f0;
}

.select-year__button {
    -fx-background-color: transparent;
    -fx-text-fill: #fe5d02;
    -fx-font-size: 20px;
}

.select-year__button:hover {
    -fx-background-color: #DDDDDD;
}

.menu-bar__out-hbox {
    -fx-background-color: white;
}

.menu-bar__hbox {
    -fx-background-color: #f1f0f0;
    -fx-background-radius: 10px;
}

.menu-bar__button {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-background-radius: 10px;
    -fx-text-fill: #fe5d02;
}

.menu-bar__pane {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: darkgrey; /* Đặt màu cho cạnh dưới */
    -fx-border-style: solid; /* Kiểu viền là solid */
    -fx-background-color: white;
}

.barchart__pane {
    -fx-background-color: white;
    -fx-border-width: 1px 0 0 0;
    -fx-border-style: solid;
    -fx-border-color: darkgrey;
}

.detail-infor__scroll-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.detail-infor__hbox-total {
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: darkgrey; /* Đặt màu cho cạnh dưới */
    -fx-border-style: solid; /* Kiểu viền là solid */
    -fx-background-color: white;
}

.detail-infor__hbox-avg {
    -fx-border-width: 1px 0 1px 0;
    -fx-border-color: darkgrey; /* Đặt màu cho cạnh dưới */
    -fx-border-style: solid; /* Kiểu viền là solid */
    -fx-background-color: white;
}

.detail-infor__label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
